In [2]:
!ls

Untitled.ipynb course.csv     grade.csv      student.csv

In [27]:
import os

In [28]:
import sqlite3

### Establish DB Connection

In [29]:
conn = sqlite3.connect('University.db')

In [30]:
conn

### Create Tables with Pandas

In [31]:
import pandas as pd

In [32]:
student = pd.read_csv("student.csv")
course = pd.read_csv("course.csv")
grade = pd.read_csv("grade.csv")

In [33]:
course.head()

  course_id                           name  capacity
0     ST101   programming for data science        60
1     ST115  Managing and Visualising Data        60
2     ST207                      Databases        30
3     ST310               Machine Learning       100

In [35]:
student.to_sql("Student", con = conn, index = False, if_exists="replace")
course.to_sql("Course", con = conn, index = False, if_exists="replace")
grade.to_sqll("Grade", con = conn, index = False, if_exists="replace")

ValueError: Table 'Course' already exists.