In [2]:
!ls

Untitled.ipynb course.csv     grade.csv      student.csv

In [27]:
import os

In [28]:
import sqlite3

### Establish DB Connection

In [29]:
conn = sqlite3.connect('University.db')

In [30]:
conn

### Create Tables with Pandas

In [31]:
import pandas as pd

In [32]:
student = pd.read_csv("student.csv")
course = pd.read_csv("course.csv")
grade = pd.read_csv("grade.csv")

In [33]:
course.head()

  course_id                           name  capacity
0     ST101   programming for data science        60
1     ST115  Managing and Visualising Data        60
2     ST207                      Databases        30
3     ST310               Machine Learning       100

In [44]:
student.to_sql("Student", con = conn, index = False, if_exists="replace")
course.to_sql("Course", con = conn, index = False, if_exists="replace")
grade.to_sql("Grade", con = conn, index = False, if_exists="replace")

8

In [45]:
c = conn.cursor()

In [47]:
c.execute('''
SELECT name
FROM sqlite_master
WHERE type='table'
''')

In [48]:
c.fetchall()

[('Student',), ('Course',), ('Grade',)]

In [51]:
q = c.execute("SELECT * FROM Student").fetchall()

In [52]:
q

[(201921323, 'Ava Smith', 2),
 (201832220, 'Ben Johnson', 3),
 (202003219, 'Charlie Jones', 1),
 (202045234, ' Dan Norris', 1),
 (201985603, 'Emily Wood', 1),
 (201933222, 'Freddie Harris', 2),
 (201875940, 'Grace Clarke', 2)]

In [53]:
c.execute('''
CREATE TABLE Teacher (staff_id TEXT PRIMARY KEY, name TEXT)
''')

In [55]:
c.execute('''
SELECT name
from sqlite_master
WHERE type="table"
''').fetchall()

[('Student',), ('Course',), ('Grade',), ('Teacher',)]

In [56]:
c.execute("DROP TABLE Teacher")

In [57]:
c.execute('''
SELECT name
from sqlite_master
WHERE type="table"
''').fetchall()

[('Student',), ('Course',), ('Grade',)]

In [58]:
conn.commit()

In [61]:
q1 = c.execute('''
SELECT Student.name
FROM Grade, Student
WHERE Grade.course_id="ST101" AND Student.student_id = Grade.student_id
ORDER BY Student.name
''').fetchall()

In [62]:
q1

[('Ava Smith',), ('Charlie Jones',), ('Emily Wood',)]