In [1]:
import pandas as pd

cases_df = pd.read_csv("covid_new_cases.csv", index_col=0)
deaths_df = pd.read_csv("covid_new_deaths.csv", index_col=0)

In [4]:
cases_df.count()

new_cases    274
dtype: int64

In [5]:
deaths_df.count()

new_deaths    244
dtype: int64

In [6]:
df_3 = cases_df.join(deaths_df, how="inner")
df_3

            new_cases  new_deaths
date
2020-02-29          5           0
2020-03-01         22           0
2020-03-02         40           1
2020-03-03         56           2
2020-03-04         56           0
...               ...         ...
2020-10-25      15654         234
2020-10-26      26467         253
2020-10-27      23757         227
2020-10-28      22887         216
2020-10-29      19525         217

[244 rows x 2 columns]